<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function () {
    new DataTable('#example');
            
})
</script>

<%-include("../partials/adminheader")-%>


    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Coupons </h2>
                <p>Create, edit or delete a Coupon</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form onsubmit="return couponNameValidation()"  method="post" action="/admin/addcoupon" id="createCouponForm">
                            <% if (errmessage) { %>
                                <div class="alert alert-danger text-center" role="alert">
                                    <%= errmessage %>
                                </div>
                            <% }%>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Coupon code</label>
                                <input type="text" placeholder="Type here" class="form-control" id="code" name="coupon_code"/>
                                <span id="codeError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Description</label>
                                <input type="text" placeholder="Type here" class="form-control" id="description" name="coupon_description"/>
                                <span id="descriptionError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Offer percentage(only the number)</label>
                                <input type="text" placeholder="Type here" class="form-control" id="percentage" name="coupon_percentage"/>
                                <span id="numberError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Minimum Order</label>
                                <input type="text" placeholder="Type here" class="form-control" id="minorder" name="min_order"/>
                                <span id="numberError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Maximum Discount</label>
                                <input type="text" placeholder="Type here" class="form-control" id="maxdiscount" name="max_discount"/>
                                <span id="numberError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Valid from:</label>
                                <input type="date" placeholder="Type here" class="form-control" id="from" name="valid_from"/>
                                <span id="dateError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Valid To:</label>
                                <input type="date" placeholder="Type here" class="form-control" id="to" name="valid_to"/>
                                <span id="dateError" style="color: red;"></span><br>
                            </div>                            
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Create coupon</button>
                            </div>
                        </form>

                        <form onsubmit="return editcouponNameValidation()"  method="post" action="/admin/updateCoupon" style="display: none;" id="editCouponForm">
                            <% if (errmessage) { %>
                                <div class="alert alert-danger text-center" role="alert">
                                    <%= errmessage %>
                                </div>
                            <% }%>
                            <input type="hidden" id="editCouponId" name="editCouponId">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Coupon code</label>
                                <input type="text" placeholder="Type here" class="form-control" id="editcode" name="editcoupon_code"/>
                                <span id="editcodeError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Description</label>
                                <input type="text" placeholder="Type here" class="form-control" id="editdescription" name="editcoupon_description"/>
                                <span id="editdescriptionError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Offer percentage(only the number)</label>
                                <input type="text" placeholder="Type here" class="form-control" id="editpercentage" name="editcoupon_percentage"/>
                                <span id="editnumberError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Minimum Order</label>
                                <input type="text" placeholder="Type here" class="form-control" id="editminorder" name="editmin_order"/>
                                <span id="editnumberError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Maximum Discount</label>
                                <input type="text" placeholder="Type here" class="form-control" id="editmaxdiscount" name="editmax_discount"/>
                                <span id="editnumberError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Valid from:</label>
                                <input type="date" placeholder="Type here" class="form-control" id="editfrom" name="editvalid_from"/>
                                <span id="editdateError" style="color: red;"></span><br>

                                <label for="product_name" class="form-label">Valid To:</label>
                                <input type="date" placeholder="Type here" class="form-control" id="editto" name="editvalid_to"/>
                                <span id="editdateError" style="color: red;"></span><br>
                            </div>                            
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Edit coupon</button>
                            </div>
                        </form>
                        
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover" id="example">
                                <thead>
                                    <tr>
                                        <th class="text-center" width="13%">coupon code</th>
                                        <th class="text-center" width="13%">Name</th>
                                        <th class="text-center" width="10%">offer(%)</th>
                                        <th class="text-center" width="10%">min_order</th>
                                        <th class="text-center" width="10%">max_discount</th>
                                        <th class="text-center" width="10%">From</th>
                                        <th class="text-center" width="10%">To</th>
                                        <th class="text-center" width="15%">Edit</th>
                                        <th class="text-center" width="15%">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% Coupon.forEach(function(coupon){ %>
                                    <tr>
                                        <td class="text-center" width="13%"><b><%= coupon.coupon_code %></b></td>
                                        <td class="text-center" width="13%"><b><%= coupon.coupon_description%></b></td>
                                        <td class="text-center" width="10%"><b><%= coupon.discount_percentage %> %</b></td>
                                        <td class="text-center" width="10%"><b><%= coupon.min_order %></b></td>
                                        <td class="text-center" width="10%"><b><%= coupon.max_discount %></b></td>
                                        <td class="text-center" width="10%">
                                            <b>
                                            <script>
                                                var dateString = '<%= coupon.valid_from %>'; 
                                                var date = new Date(dateString);
                                                var formattedDate = date.toLocaleDateString(); 
                                                document.write(formattedDate);
                                            </script>
                                            </b>
                                        </td>
                                        <td class="text-center" width="10%">
                                            <b>
                                            <script>
                                                var dateString = '<%= coupon.valid_to %>'; 
                                                var date = new Date(dateString);
                                                var formattedDate = date.toLocaleDateString(); 
                                                document.write(formattedDate);
                                            </script>
                                            </b>
                                        </td>
                                        <td class="text-center" width="15%">
                                            <button onclick="showEditCouponForm(  '<%= coupon._id %>','<%= coupon.coupon_code %>','<%= coupon.discount_percentage %>','<%= coupon.min_order %>','<%= coupon.max_discount %>','<%= coupon.valid_from %>','<%= coupon.valid_to %>','<%= coupon.coupon_description %>') " class="btn btn-primary btn-sm rounded" >Edit</button>
                                        </td>
                                        <td>
                                            <div width="15%" class="info pl-3 text-center">
                                                <% if (coupon.blocked==true) { %>
                                                    <a class="btn  btn-sm rounded" style="background-color: red;color: white;" href="/admin/couponblock/<%= coupon._id %>">Block</a>
                                                <% } else { %>
                                                    <a class="btn  btn-sm rounded" style="background-color: green; color: white;" href="/admin/couponblock/<%= coupon._id %>">Unblock</a>                                       
                                                <% } %>                                      
                                            </div>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- .col// -->
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->

    <script>

    function showEditCouponForm(couponId,couponCode,percentage,minOrder,maxDiscount,validFrom,validTo,Description,){
        document.getElementById('createCouponForm').style.display = 'none';
        document.getElementById('editCouponForm').style.display = 'block';

        document.getElementById('editCouponId').value = couponId;
        document.getElementById('editcode').value = couponCode;
        document.getElementById('editdescription').value = Description;
        document.getElementById('editpercentage').value = percentage;
        document.getElementById('editminorder').value = minOrder;
        document.getElementById('editmaxdiscount').value = maxDiscount;
        if (validFrom) {
        validFrom = new Date(validFrom);
        document.getElementById('editfrom').value = validFrom.toISOString().split('T')[0];
        } else {
            document.getElementById('editfrom').value = '';
        }

        if (validTo) {
            validTo = new Date(validTo);
            document.getElementById('editto').value = validTo.toISOString().split('T')[0];
        } else {
            document.getElementById('editto').value = '';
        }
    }


    </script>

<%-include("../partials/adminfooter")-%>