<%-include("../partials/adminheader")-%>

        <section class="content-main">
            <div class="row"> <!-- 1st card -->
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Product Management</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form action="/admin/editproduct/<%= product._id %>" onsubmit="return validateform()" method="post" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="name" value="<%= product.name %>">
                                    <span id="name-error" style="color: red;"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" id="product_description" name="description" value="<%= product.description %>"></textarea>
                                    <span id="description-error" style="color: red;"></span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Price</label>
                                            <input placeholder="Rs." type="text" class="form-control" id="product_price" name="price" value="<%= product.price %>">
                                            <span id="price-error" style="color: red;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Selling price</label>
                                            <input placeholder="Rs." type="text" class="form-control" id="product_sellingprice" name="sellingprice" value="<%= product.sellingprice %>">
                                            <span id="sellingprice-error" style="color: red;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Size</label>
                                            <select class="form-select" name="size">
                                                <option <%= product.size === 'S' ? 'selected' : '' %>>S</option>
                                                <option <%= product.size === 'M' ? 'selected' : '' %>>M</option>
                                                <option <%= product.size === 'L' ? 'selected' : '' %>>L</option>
                                                <option <%= product.size === 'X' ? 'selected' : '' %>>X</option>
                                                <option <%= product.size === 'XL' ? 'selected' : '' %>>XL</option>
                                                <option <%= product.size === 'XXL' ? 'selected' : '' %>>XXL</option>
                                                <option <%= product.size === 'Free Size' ? 'selected' : '' %>>Free Size</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Brand</label>
                                            <select class="form-select" name="brand" value="<%= product.brand %>">
                                                <option> fwd </option>
                                                <option> soch </option>
                                                <option> aurelia </option>
                                                <option> forever 21 </option>
                                                <option> nike </option>
                                                <option> puma </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Stock</label>
                                            <input placeholder="Type here" type="text" class="form-control" id="product_stock" name="stock" value="<%= product.stock %>">
                                            <span id="stock-error" style="color: red;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Colour</label>
                                            <input placeholder="Type here" type="text" class="form-control" id="product_colour" name="colour" value="<%= product.colour %>">
                                            <span id="colour-error" style="color: red;"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Type</label>
                                            <select class="form-select" name="type" value="<%= product.type %>">
                                                <option <%= product.type === 'Ethinic'? 'selected' : '' %>> Ethinic </option>
                                                <option <%= product.type === 'Western'? 'selected' : '' %>> Western </option>
                                                <option <%= product.type === 'Sports'? 'selected' : '' %>> Sports </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- for images.................... -->
                                <div class="col-lg-6">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Media</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <img src="/admin-assets/imgs/theme/upload.svg" alt="">
                                                
                                                <div id="existingImages">
                                                    <% if (product.images && product.images.length > 0) { %>
                                                        <% product.images.forEach(function(imageUrl, index) { %>
                                                            <div class="image-container">
                                                                <img src="<%= imageUrl %>" alt="Product Image">
                                                            </div>
                                                        <% }); %>
                                                    <% } %>
                                                    <span id="image-upload-error" style="color: red;"></span>
                                                </div>
                                
                                                <!-- Container for newly added images -->
                                                <div id="newImages"></div>

                                                <input
                                                    type="file"
                                                    id="productImage"
                                                    name="images"
                                                    accept="image/*"
                                                    multiple
                                                    required
                                                    style="display: none;" 
                                                />

                                                <!-- Add Image button -->
                                                <button class="btn btn-md rounded font-sm hover-up" id="addImage">Choose Image</button>
                                                <button class="btn btn-md rounded font-sm hover-up" id="deleteImages" type="button">Delete All Images</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- for images.................... -->
                            
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Organization</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row gx-2">
                                                <div class="col-sm-6 mb-3">
                                                    <label class="form-label">Category</label>
                                                    <select class="form-select" name="category" >
                                                        <option <%= product.category === 'Saree' ? 'selected' : '' %>> Saree </option>
                                                        <option <%= product.category === 'kurthie' ? 'selected' : '' %>> kurthie </option>
                                                        <option <%= product.category === 'Lehanga' ? 'selected' : '' %>> Lehanga </option>
                                                        <option <%= product.category === 'Tops' ? 'selected' : '' %>> Tops </option>
                                                        <option <%= product.category === 'Jeans' ? 'selected' : '' %>> Jeans </option>
                                                        <option <%= product.category === 'Pants' ? 'selected' : '' %>> Pants </option>
                                                        <option <%= product.category === 'Tracksuit' ? 'selected' : '' %>> Tracksuit </option>
                                                        <option <%= product.category === 'Sports bra' ? 'selected' : '' %>> Sports bra </option>
                                                        <option <%= product.category === 'Tights' ? 'selected' : '' %> > Tights </option>
                                                    </select>
                                                </div>
                                                
                                            </div> <!-- row.// -->
                                        </div>
                                    </div> <!-- card end// -->
                                
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                            </form>
                        </div>
                    </div> <!-- card end// -->
                </div>
                
            </div>
        </section> <!-- content-main end// -->

        
        
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const deleteImagesBtn = document.getElementById('deleteImages');
                const chooseImageBtn = document.getElementById('addImage');
                const newImagesContainer = document.getElementById('newImages');
                const productImage = document.getElementById('productImage');
            
                // Handle image removal
                deleteImagesBtn.addEventListener('click', function () {
                    // Remove all images from the newImages div
                    newImagesContainer.innerHTML = '';
                });
            
                // Handle adding new images
                chooseImageBtn.addEventListener('click', function () {
                    // Trigger the hidden file input
                    productImage.click();
                });
            
                // Listen for changes to newly added file inputs
                productImage.addEventListener('change', function () {
                    const files = Array.from(productImage.files);
                    files.forEach(function (file) {
                        const reader = new FileReader();
                        reader.onload = function (event) {
                            const imageUrl = event.target.result;
                            // Create an image element and append it to the newImages container
                            const img = document.createElement('img');
                            img.src = imageUrl;
                            newImagesContainer.appendChild(img);
                        };
                        reader.readAsDataURL(file);
                    });
                    // Clear the selected file in the original file input
                    productImage.value = '';
                });
            });
            </script>
        
        <script>
            function validateForm() {
              const productImage = document.getElementById('productImage');
              const imageUploadError = document.getElementById('image-upload-error');
            
              if (productImage && productImage.files.length === 0) {
                imageUploadError.textContent = 'Please select at least one image.';
                return false; // Prevent form submission
              } else {
                imageUploadError.textContent = ''; // Clear the error message
                return true; // Allow form submission
              }
        
        
        console.log("validateform function called");
        document.getElementById('name-error').innerHTML = '';
        document.getElementById('description-error').innerHTML = '';
        document.getElementById('price-error').innerHTML = '';
        document.getElementById('sellingprice-error').innerHTML = '';
        document.getElementById('stock-error').innerHTML = '';
        document.getElementById('colour-error').innerHTML = '';

        var name = document.getElementById('product_name').value;
        var description = document.getElementById('product_description').value;
        var price = document.getElementById('product_price').value;
        var sellingprice = document.getElementById('product_sellingprice').value;
        var stock = document.getElementById('product_stock').value;
        var colour = document.getElementById('product_colour').value;

        var nameRegex = /^[A-Z][A-Za-z ]{0,19}$/;
        if (name === '' || name.trim() === '') {
            document.getElementById('name-error').innerHTML = 'Name is required.';
            return false;
        }
        if (!name.match(nameRegex)) {
            document.getElementById('name-error').innerHTML = 'Enter a valid name.';
            return false;
        }

        var descriptionRegex = /^[A-Za-z0-9 !@#$%^&*()_+{}[\]:;<>,.?~/\\-]*$/;
        if (description === '' || description.trim() === '') {
            document.getElementById('description-error').innerHTML = 'Description field cannot be empty.';
            return false;
        }
        if (!description.match(descriptionRegex)) {
            document.getElementById('description-error').innerHTML = 'Enter a valid description.';
            return false;
        }

        var priceRegex = /^[1-9]\d{0,6}$/;
        if (price === '' || price.trim() === '') {
            document.getElementById('price-error').innerHTML = 'Price is required.';
            return false;
        }
        if (!price.match(priceRegex)) {
            document.getElementById('price-error').innerHTML = 'Enter a valid price.';
            return false;
        }

        var sellingpriceRegex = /^[1-9]\d{0,6}$/;
        if (sellingprice === '' || sellingprice.trim() === '') {
            document.getElementById('sellingprice-error').innerHTML = 'Selling price is required.';
            return false;
        }
        if (!sellingprice.match(sellingpriceRegex)) {
            document.getElementById('sellingprice-error').innerHTML = 'Enter a valid price.';
            return false;
        }

        var stockRegex = /^[0-9]\d{0,6}$/;
        if (stock === '' || stock.trim() === '') {
            document.getElementById('stock-error').innerHTML = 'Stock is required.';
            return false;
        }
        if (!stock.match(stockRegex)) {
            document.getElementById('stock-error').innerHTML = 'Enter a valid number.';
            return false;
        }

        var colourRegex = /^[A-Z][A-Za-z ]{0,19}$/;
        if (colour === '' || colour.trim() === '') {
            document.getElementById('colour-error').innerHTML = 'Colour is required.';
            return false;
        }
        if (!colour.match(colourRegex)) {
            document.getElementById('colour-error').innerHTML = 'Enter a valid colour.';
            return false;
        }

        // Check if at least one image is uploaded
        const fileInput = document.getElementById('productImage');
        if (fileInput.files.length === 0) {
            document.getElementById('image-upload-error').textContent = 'Please select one or more images.';
            return false;
        }

        return true;

    }
            </script>
            
        
<%-include("../partials/adminfooter")-%>


