<%-include("../partials/userheader")-%>

<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-25">
                    <h4>Select Address</h4>
                </div>
                <form method="get">
                    <a href="/addAddress" class="btn btn-fill-out btn-block mt-30">Add Address</a>
                </form>
            </div>
            <div class="col-md-6">
                <div class="order_review">
                    <div class="mb-20">
                        <h4>Your Orders</h4>
                    </div>
                    <div class="table-responsive order_table text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% user.cart.forEach(cartItem => { %>
                                <tr>
                                    <td class="image product-thumbnail"><img src="<%= cartItem.product.images[0] %>" alt="#"></td>
                                    <td>
                                        <h5><a href="shop-product-full.html"><%= cartItem.product.name %></a></h5> <span class="product-qty">x <%= cartItem.quantity %></span>
                                    </td>
                                    <td>Rs.<%= cartItem.product.sellingprice * cartItem.quantity %></td>
                                </tr>
                                <% }); %>
                                <tr>
                                    <th>SubTotal</th>
                                    <td class="product-subtotal" colspan="2">Rs.<%= cartSubtotal %></td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td colspan="2"><em>Free Shipping</em></td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">Rs.<%= cartSubtotal %></span></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                    <div class="payment_method">
                        <div class="mb-25">
                            <h5>Payment</h5>
                        </div>
                        <div class="payment_option">
                            <div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
                                <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Cash on Delivery</label>
                                <div class="form-group collapse in" id="bankTranfer">
                                    <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-fill-out btn-block mt-30">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</section>


<%-include("../partials/userfooter")-%>